{% extends "layout.html"%}

{% block title%}Chat{% endblock%}

{% block body%}

<script>
  if (!localStorage.username) { // Se va a tratar de obtener la variable desde el LS
    localStorage.username = "{{ session.username }}";
    localStorage.canal = "{{ session.canal }}"; // Lo que se hace es que cuando entre los define directamente
  }
</script>
<div class="wrapper">
  <div class="sidebar">
    <div class="bg_shadow"></div>
    <div class="sidebar__inner">
      <div class="close">
        <i class="fas fa-times"></i>
      </div>
      <div class="profile_info">
        <div class="profile_data">
          <p class="name">FLACK</p>
        </div>
      </div>
      <div id="canal" class="siderbar_menu">
        <h2 id="channel">Channels</h2>
        
        <form action="" method="post" id="joinroom">
          <div class="input-group mb-3" style="padding-left:0.7em; padding-right:0.7em;" required>
            <input type="text" id="room" name="room"  placeholder="Room" class="form-control" required>
            <div class="input-group-append">
              <button  class="btn btn-outline-dark" type="submit" style="font-weight: bold; font-size: 17px;">
              Add
            </button>
            </div>
            
          </div>
          
        </form>
        <ul>
          {% for canal in canales %}
          <div class="input-group-append">
            <li><button class="btn1" type="submit" value="{{canal}}"> #{{canal}}</button></li>
          </div>
          
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="main_container">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="hamburger__inner">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <ul class="menu">
        <li class="username">
          <i id="astronauticon" class="fas fa-user-circle"> </i>
          {{ username}}
        </li>
      </ul>
      <ul class="right_bar">
        <li>
          <a class="fas fa-sign-out-alt" href="/logout"></a>
        </li>
      </ul>
    </div>
    
    <div class="container">
      <div>
        <ul id="channels-list" class="list-group">
        </ul>
      </div>
      <div class="messages" id="chat">
        <h3 class="msg--room"></h3>
        <ul id="messagelist"></ul>
      </div>
    </div>
    <div class="footer">
      <form action="" method="post" id="message-form" required>
        <div class="input-group mb-3 message-input">
          <input id="message-input" type="text" class="form-control"
            placeholder="Enter message here"  required>
          <div class="input-group-append">
            <button id="submit-send-message" type="submit" class="btn btn-light
              add-button">
              <div id="send"><i class="fas fa-paper-plane"></i></div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() { 
    $('#message-input').emojioneArea({
      pickerPosition:'top'   
    })  
  });
  
  /*
  $('#message-input').emojioneArea({
      pickerPosition:'top'
  })*/
</script>
<script src="/static/js/index.js"></script>
<script src="/static/js/nav.js"></script>


{% endblock%}