{% extends "layout.html"%}

{% block title%}Chat{% endblock%}

{% block body%}

<script>
  if (!localStorage.username) { // Se va a tratar de obtener la variable desde el LS
    localStorage.username = "{{ session.username }}";
    localStorage.canal = "{{ session.canal }}"; // Lo que se hace es que cuando entre los define directamente
  }
</script>
<div class="wrapper">
  <div class="sidebar">
    <div class="bg_shadow"></div>
    <div class="sidebar__inner">
      <div class="close">
        <i class="fas fa-times"></i>
      </div>
      <div class="profile_info">
        <div class="profile_data">
          <p class="name">FLACK</p>
        </div>
      </div>
      <ul id="canal" class="siderbar_menu">
        <h2 id="channel">Channels</h2>
        <form action="" method="post" id="joinroom">
          <div style="padding-left: 10%; padding-right:10%;"><input type="text" id="room" name="room" class="form-control"
            placeholder="Room" required>
          </div>
          <div style="padding-left: 10%; padding-right:10%; margin-top:10px;"><button class="btn btn-lg btn-primary btn-block" type="submit">Add</button></div>
        </form>
        <ul>
          {% for canal in canales %}
          <li><button value="{{canal}}">{{canal}}</button></li>
          {% endfor %}
        </ul>
      </ul>
    </div>
  </div>
  <div class="main_container">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="hamburger__inner">
          <i class="fas fa-bars"></i>
        </div>
      </div>
      <ul class="menu">
        <li class="username">
          <i id="astronauticon" class="fas fa-user-circle"> </i>
          {{ username}}
        </li>
      </ul>
      <ul class="right_bar">
        <li>
          <a class="fas fa-sign-out-alt" href="/logout"></a>
        </li>
      </ul>
    </div>
    
    <div class="container">
      <div>
        <ul id="channels-list" class="list-group">
        </ul>
      </div>
      <div class="messages" id="chat">
        <h3 class="msg--date">Today - 19:44</h3>
        <div class="msg msg--me">
          <blockquote>
            <li id="messagelist"></li>
          </blockquote>
        </div>
        
        <div class="msg msg--them">
          <blockquote>He was a zombie?</blockquote>
        </div>
        <!--
        <div class="" id="chat">
          <ul id="messagelist"></ul>
          <div id="current_channel" class="message-stack"></div>
        </div>-->
      </div>
    </div>
    <div class="footer">
      <form action="" method="post" id="message-form">
        <div class="input-group mb-3 message-input">
          <input id="message-input" type="text" class="form-control"
            placeholder="Enter message here" aria-describedby="basic-addon2" required>
          <div class="input-group-append">
            <button id="submit-send-message" type="submit" class="btn btn-light
              add-button">
              <div id="send"><i class="fas fa-paper-plane"></i></div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/static/js/nav.js"></script>

{% endblock%}