{% extends "layout.html"%}

{% block title%}Chat
    <style>
        @import url(https://fonts.googleapis.com/css?family=Varela+Round);

        [class*="fontawesome-"]:before {
        font-family: 'FontAwesome', sans-serif;
        }

        html, body {
            height: 100%;
            font: 100%/1.5em "Varela Round", sans-serif;
        }

        body {
        flex-direction: column;
        }

        body,.msg{
            display: flex;
        }

        .messages, blockquote {
            padding: .5em;
        }
        .messages,input {
            background-color: black;
        }

        

        .msg {
            position: relative;
            margin-bottom: 2em;
        }

        .msg--date {
            margin-top: 0;
            font-size: 1em;
            font-weight: normal;
            text-align: center;
            background: #222;
            color: #727b80;
        }

        blockquote {
            border-radius: .35em;
            position: relative;
            display: inline-block;
            margin: 0;
            max-width: 60%;
        }

        .msg--them blockquote::after, .msg--me blockquote::before {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
        }

        .msg--them blockquote {
        background-color: #FFBB73;
        }

        .msg--them blockquote::after {
            border: .5em solid #FFBB73;
            border-color: #FFBB73 transparent transparent #FFBB73;
            top: .5em;
            right: -1em;
        }

        .msg--me blockquote {
        background-color: #0099cc; margin-left: 1em;
        }

        .msg--me blockquote::before {
            border: .5em solid #0099cc;
            border-color: #0099cc #0099cc transparent transparent;
            top: .5em;
            left: -1em;
        }

        

        .messages {
        flex: 1; overflow: auto;
        }

        .msg--them {
        justify-content: flex-end; 
        }

        .msg--them blockquote {
            order: -1;
            margin-right: 1em;
        }

    </style>
{% endblock%}

{% block body%}
<section class="messages">
  <section>
    <h3 class="msg--date">Today - 19:44</h3>
    <div class="msg msg--me">
      <blockquote>Dad! You killed the zombie Flanders!</blockquote>
    </div>
    <div class="msg msg--them">
      <blockquote>He was a zombie?</blockquote>
    </div>
  </section>

</section>
{% endblock%}